.ctasection-parent {
    width: 100%;
    height: 79vh;
    overflow: hidden;
    /* background-color: lightcoral; */
}

.marqueeTopLine {
    height: 3.3vh;
    /* background-color: black; */
}

.marqueeBottomLine {
    height: 3.3vh;
    background-color: #f8f8f8;
    /* background-color: red; */
}

.marqueeTopLine-Image {
    filter: brightness(53%) contrast(58%) saturate(113%) blur(0px) hue-rotate(0deg);
    opacity: 1;

}

.ctasection {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vmax;
    overflow: hidden;
    background-color: white;
}

.marquee-top-line {
    /* height: 5vh; */
    background-color: rebeccapurple;
    z-index: 9999;
}

.marquee-top-line-img {
    width: 20px;
    opacity: 1;
    height: 3px;
    z-index: 100;
    filter: brightness(53%) contrast(58%) saturate(113%) blur(0px) hue-rotate(0deg);
}

.marquee {
    font-family: 'RemixaTest-regular';
    font-size: 4vmax;
    width: 100%;
    color: white;
    font-weight: 900;
    z-index: 2;
    mix-blend-mode: exclusion;
    white-space: nowrap;
}

.ctasection-photographer-name {
    position: absolute;
    height: 5vmax;
    bottom: 6vh;
    text-transform: uppercase;
    display: flex;
    mix-blend-mode: exclusion;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
}


.ctasection-photographer-name--production {
    mix-blend-mode: normal;
}


.ctasection-photographer-name-inner {
    display: flex;
    gap: 1vw;

    align-items: center;
    justify-content: center;
}

.ctasection-photographer-name svg {
    height: 1.8vw;
    mix-blend-mode: exclusion;
    width: 2vw;
}

.marquee-photographer-name {
    font-family: 'mo4';
    font-size: 2.8vw;
    /* width: 100%; */
    /* background-color: lightcoral; */
    color: white;
    font-weight: 600;

    text-align: center;
    z-index: 2;
    mix-blend-mode: exclusion;
    white-space: nowrap;
}

.marquee-item {
    display: inline-block;
    padding-right: 3vmax;
    white-space: nowrap;
}

.ctasection-bg-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    
    z-index: 1;
}


/* production marquee page heading */

.production-testimonial-marqueeHeading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.production-center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.production-testimonial-marqueeHeading h1 {
    font-family: 'RemixaTest-regular';
    font-size: 3.3vw;
    width: 65%;
    text-align: center;
    font-weight: 900;
    color: #ffffff;
    line-height: 1;
    mix-blend-mode: exclusion;
}

.productionpage-marquee-data1 {
    position: absolute;
    z-index: 99;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* height: 25vmax; */
    mix-blend-mode: exclusion;
    align-items: center;
    top: 10%;
    /* background-color: lightgreen; */
}

.productionpage-marquee-data2 {
    position: absolute;
    z-index: 99;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* height: 25vmax; */
    /* mix-blend-mode: exclusion; */
    align-items: center;
    top: 68%;
    /* background-color: lightgreen; */
}


.productionTestimonialMarqueeParagraph p {
    font-family: 'RemixaTest-regular';
    font-size: 1.1vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #fff;
    width: 50%;
    text-align: center;

}


.productionTestimonialMarqueeContact a {
    font-size: 2.8vw;
    font-weight: 600;
    font-family: 'mo4';
    color: white;
    text-align: center;
}




@media screen and (max-width: 740px) {
    .ctasection {
        height: 50vh;
    }

    .marquee {
        font-size: 3.5vmax;
    }

    .marquee-item {
        padding-right: 4vmax;
    }

    .marqueeTopLine {
        height: 1.2vh;
        width: 100%;
        margin-top: 1vw;
        scale: 2.5;
        /* background-color: black; */

    }


    .marqueeBottomLine {
        height: 1.2vh;
        scale: 2.5;
        margin-top: 1.5vw;
        background-color: #f8f8f8;
    }


    .ctasection-photographer-name {

        bottom: 1vh;

    }


    .marquee-photographer-name {
        font-size: 16px;

    }

    .production-testimonial-marqueeHeading h1 {
        font-family: 'RemixaTest-regular';
        font-size: 23px;
        width: 100%;

    }

    .productionTestimonialMarqueeParagraph p {
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.1em;
        width: 80%;

    }

    .productionpage-marquee-data2 {

        align-items: center;
        top: 80%;
    }

    .marquee-photographer-name {
        font-family: 'mo4';
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
        text-align: center;

    }

    .ctasection-photographer-name svg {
        height: 14px;
        mix-blend-mode: exclusion;
        width: 14px;

    }

    .ctasection-photographer-name-inner {
       
        gap:2vw;
    }


}