/* ============================================
   Footer Section
   ============================================ */

.footer {
    position: relative;
    width: 100%;
    /* padding: 0 5vw; */
    padding-top: 5%;
    min-height: 100vh;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8f8f8;
    overflow: hidden;
    
}

/* Black Circle - top left */
/* .footer-circle {
    width: 13vw;
    height: 13vw;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    left: 4.5vw;
} */

.circle-top-section {
    width: 20vmax;
    height: 18vmax;
    position: absolute;
    top: 3vw;
    left: 4.5vw;
}

.circle-top-section p {
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'Polysans';
    color: #000;
    opacity: 1;
    line-height: 1;


}

.footer-circle img {
    height: 13.5vw;
    width: 13.5vw;
    margin-left: 0.5vw;

}

/* Main Content Area */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 18vw;
    padding-bottom: 2vw;
}

/* ---- Left Side ---- */
.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-inquiry {
    font-style: italic;
    font-size: 1.5vw;
    color: #000;
    font-family: "me2";
    margin-bottom: 1vw;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.6px;

}

.footer-email {
    font-size: 4.2vw;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    margin-bottom: 1.5vw;
    line-height: 1;
}

.footer-email a {
    color: #3b3b3b;
    font-family: "Polysans";
    text-decoration: none;
}

.footer-email a:hover {
    opacity: 0.7;
}

/* Social Icons */
.footer-socials {
    display: flex;
    gap: 1vw;
    margin-bottom: 2.5vw;
}

.footer-social-icon {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.footer-social-icon:hover {
    opacity: 0.5;
}

.footer-social-icon svg {
    width: 1.4vw;
    height: 1.4vw;
}

/* Company Info */
.footer-company {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.footer-company-name {
    font-size: 1.3vw;
    font-weight: 900;
    font-family: 'RemixaTest-semibold';
    text-transform: uppercase;
    color: #2e2e2e;
    line-height: 45px;
}

.footer-address {
    font-size: 1vw;
    color: #808080;
    font-family: 'mo4';
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 500;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-top: 0.2vw;
}

.footer-links a {
    font-size: 1vw;
    color: #808080;
    font-family: 'mo4';
    line-height: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: bolder;
}

.footer-links a:hover {
    color: #000;
}

.footer-divider {
    font-size: 0.75vw;
    color: #666;
}

/* ---- Right Side ---- */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5vw;
}

/* Footer Image */
.footer-image {
    width: 52%;
    max-width: 63%;

    height: 30vh;
    overflow: hidden;
}

.footer-image img {
    width: 100%;
    object-position: center center;
    height: 100%;
    object-fit: cover;
}

/* Rights */
.footer-rights {
    text-align: right;
    max-width: 22vw;
}

.footer-rights-title {
    margin-bottom: 0.5vw;
}

.footer-rights-italic {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4vw;
    letter-spacing: -0.6px;
    color: #000;
    font-family: "me2";

}

.footer-rights-bold {
    font-weight: 900;
    font-size: 1.15vw;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4em;
}

.footer-rights-text {
    font-size: 0.7vw;
    color: #808080;
    font-family: 'mo4';
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 500;
    mix-blend-mode: exclusion;
    text-align: right;
}

/* ---- Bottom Bar ---- */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 0;
    /* background-color: red; */
    /* border-top: 1px solid #ddd; */
}

.footer-copyright {
    font-size: 1.2vw;
    color: #000;
    font-family: 'mo4';
    font-weight: 400;
}

.footer-developed {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 0.8vw;
    color: #808080;
    font-weight: 700;
    max-width: 100%;
    height: auto;

    filter: brightness(41%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.footer-dev-logo {
    /* height: 1.2vw; */
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    text-align: center;
    aspect-ratio: auto 300 / 29;
    object-fit: cover;
}

/* ============================================
   Mobile Responsive
   ============================================ */


@media (max-width:1024px) {
    .footer-email {
        font-size: 5.4vw;
        margin-bottom: 3vw;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 700px;
        padding-top: 10vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 2vw;
    }


    .circle-top-section {
        width: 20vmax;
        height: 15vmax;
        position: absolute;
        top: 3vw;
        /* background-color: lightblue; */
        left: 4.5vw;
    }

    .circle-top-section p {
        font-size:16px;
        font-weight: 400;
        font-family: 'Polysans';
        color: #000;
        opacity: 1;
        line-height: 1;


    }

    .footer-circle img {
        height: 26vw;
        width: 26vw;
        margin-left: 0.5vw;
        object-fit: cover;
    }



    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40vw;
        gap: 10vw;
        padding-bottom: 6vw;
    }

    .footer-inquiry {
        font-size: 18px;
        font-weight: 500;
    }

    .footer-email {
        font-size: 30px;
        margin-bottom: 8vw;
        margin-top: 10vw;
    }

    .footer-socials {
        gap: 6vw;
        margin-bottom: 10vw;
    }

    .footer-social-icon svg {
        width: 5vw;
        height: 5vw;
    }

    .footer-company-name {
        font-size: 3vw;
        line-height: 10px;
    }

    .footer-address {
        font-size: 2.5vw;
    }

    .footer-company {
        display: flex;
        flex-direction: column;
        gap: 0.3vw;
        /* background-color: lightsalmon; */
    }

    .footer-links a {
        font-size: 10px;
        margin-top: 5px;
        line-height: 1.1em;
        letter-spacing: 0.6px;
    }

    .footer-divider {
        font-size: 2.5vw;
    }

    .footer-right {
        align-items: flex-start;
        width: 100%;
    }

    .footer-image {
        width: 40vw;
        height: 40vw;
        align-self: flex-end;
        display: none;
    }

    .footer-rights {
        text-align: left;
        max-width: 100%;
    }

    .footer-rights-bold {
        font-size: 10px;
        font-weight: 900;
        line-height: 1.2em;
    }


    .footer-rights-italic {
        font-size: 12px;
        line-height: 1.2em;

    }

    .footer-rights-text {
        font-size: 7px;
        line-height: 1.2em;
        width: 70%;
        text-align: left;
    }

    .footer-bottom {
        padding: 4vw 0;
        flex-direction: column;
        align-items: start;
    }

    .footer-copyright {
        font-size: 2.5vw;
    }

    .footer-developed {
        font-size: 2.5vw;
        gap: 1.5vw;
    }

    .footer-dev-logo {
        height: 3vw;
    }


    .footer-dev-logo {
       
        display: inline-block;
        vertical-align: middle;
        width: 300px;
        height: auto;
        text-align: center;
        object-fit: cover;
    }
}