.portfolio-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3vw;
    padding-inline:2vw;
    /* padding-inline:3vw; */

    padding-top: 2vw;
    width: 100%;

}

.portfolio-main-section {
    height: 40vmax;
    /* width: 23vmax; */
}

.portfolio-main-img {
    height: 30vmax;
}

.portfolio-main-dets {
    display: flex;
    align-items: center;
    padding-top: 4vmax;
    justify-content: space-between;
}

.portfolio-main-cen {
    display: flex;
    gap: 1vmax;

}

.portfolio-main-cen h2 {
    font-family: mo4;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.1vw;
    /* width: 10vmax; */
    color: black;
    line-height: 1.2em;
    width: min-content;

}

.portfolio-main-cen p {
    font-family: mo4;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.3vw;

}

.portfolio-arrow {
    font-size: 2.5vmax;
}


@media screen and (max-width: 740px) {
    .portfolio-card {
        display: flex;
        flex-direction: column;
        gap: 12vw;
        padding-inline: 6vw;
        padding-top: 4vw;
        width: 100%;
        align-items: flex-start;
    }

    .portfolio-main-section {
        width: 58vw !important;
        height: auto;
        /* background-color: lightgreen; */
    }



    .portfolio-main-img {
        height: 50vw;
        width: 100%;
        object-fit: cover;
    }


    /* Alternate: odd cards left, even cards right */
    .portfolio-main-section:nth-child(even) {

        align-self: flex-start;
    }

    .portfolio-main-section:nth-child(odd) {
        align-self: flex-end;
    }

    .portfolio-main-dets {
        /* background-color: lightcoral; */
        margin-top: 10px;
    }

    .portfolio-main-cen h2 {
        font-size: 18px;
        line-height: 1.2em;
    }

    .portfolio-main-cen p {
        font-size: 3vw;
    }

    .portfolio-arrow {
        font-size: 20px;
    }

    .portfolio-main-dets {
        padding-top: 2vw;
    }
}