.testimonial-section {
    width: 100%;
    margin-top: 15vw;
}

.Clients-Section {
    width: 100%;
    padding-block: 3vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-nz {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.2vmax;
    font-size: 1.3vw;
    color: #d1d1d1;
    font-family: RemixaTest;

}



.testimonial-heading {
    color: white;
    font-size: 4.5vw;
    margin-top: 2vmax;
    margin-bottom: 1vmax;
    font-family: RemixaTest;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
}

.Clients-Section h1 {
    font-size: 4.5vw;
    margin-top: 1.2vmax;
    margin-bottom: 1vmax;
    font-family: RemixaTest;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    width: 80%;
    color: white;
}


.Clients-Section h6 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #a8a8a8;
    font-family: RemixaTest;
}

.Clients-Section .text-reveal {
    width: 40vmax;
    margin-left: 24vw;

}



.testimonial-box {
    width: 80vmax;
    margin-top: 2vw;
}


.testimonial-box-row1 {
    display: flex;
    /* padding: 1vmax 1vmax; */

    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 5vmax;
    border-bottom: 1px solid #5d5d5d;
}

.testimonial-box-row1-inner1 {
    display: flex;
    flex-direction: row;
}

.testimonial-box-row1-inner2 {
    display: flex;
    flex-direction: row;
}

.testimonial-pic {
    height: 5vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-pic1 {
    border-right: 1px solid #5d5d5d;
}

.testimonial-pic2 {
    border-right: 1px solid #5d5d5d;

}

.testimonial-pic3 {
    border-right: 1px solid #5d5d5d;

}

.testimonial-pic4 {
    border-right: 1px solid #5d5d5d;


}

.testimonial-pic5 {
    border-right: 1px solid #5d5d5d;


}

.testimonial-pic7 {
    border-right: 1px solid #5d5d5d;

}

.testimonial-pic8 {
    border-right: 1px solid #5d5d5d;


}

.testimonial-pic9 {
    border-right: 1px solid #5d5d5d;


}

.testimonial-pic10 {
    border-right: 1px solid #5d5d5d;

}

.testimonial-pic11 {
    border-right: 1px solid #5d5d5d;

}

.testimonial-box-row2 {
    display: flex;
    height: 5vmax;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    /* background-color: green; */
}

.testimonial-box-row2-inner1 {
    display: flex;
    flex-direction: row;
}

.testimonial-box-row2-inner2 {
    display: flex;
    flex-direction: row;
}

.Testimonial-textreveal {
    width:100%;
    /* margin-left: 22vw; */
    padding-left: 24vw;
    margin-top: 13vw;
    /* background-color: rgb(41, 39, 39); */

}

.Testimonial-textreveal img {
    height: 3vmax;
    margin-top: 3vmax;
    object-fit: cover;
    margin-left: 3vmax;

}

.Testimonial-textreveal h6 {
    font-family: mo4;
    color: white;
    margin-bottom: 1.2vmax;
    margin-top: 1.5vmax;
    font-size: 1.6vw;
    width: 70%;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.03px;

}

.Testimonial-textreveal h4 {
    font-family: mo4;
    color: white;
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2em;

}

.Testimonial-textreveal h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #a8a8a8;
    font-family: RemixaTest;

}

@media screen and (max-width: 740px) {

    .client-nz {
        margin-bottom: 1.2vmax;
        font-size: 3vw;

    }

    .testimonial-pic3 {
        border-right: none;

    }

    .testimonial-pic9 {
        border-right: none;

    }

    .testimonial-box-row1 {
        flex-direction: column;


    }

    .testimonial-box-row1-inner2 {
        border-bottom: 1px solid #5d5d5d;
    }

    .testimonial-box-row2-inner1 {
        border-bottom: 1px solid #5d5d5d;
    }

    .testimonial-box-row2-inner2 {
        border-bottom: 1px solid #5d5d5d;
    }

    .testimonial-box-row2 {

        flex-direction: column;
        margin-top: 5vmax;

    }

    .Clients-Section h1 {
        font-size: 4vmax;
    }

    .Clients-Section h6 {

        font-size: 3.6vw;

    }

    .testimonial-box {
        width: 40vmax;
        margin-top: 15vw;
        flex-direction: column;
    }

    .Testimonial-textreveal {
        padding-bottom: 10vmax;
    }

    .testimonial-heading {
        font-size: 4vmax;

    }

    .Testimonial-textreveal img {
        height: 3vmax;
        margin-top: 9vmax;
        object-fit: cover;

    }

    .Testimonial-textreveal h6 {
        font-size: 4vw;
        width: 60%;

    }

    .Testimonial-textreveal h4 {
        
        font-size:3vw;
        margin-top:2vmax;
       
    }

    .Testimonial-textreveal h5 {
       margin-top:3vmax;
        font-size:4vw;
       
    }

}